.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 2.6fr 0.3fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "note editor1 editor1 editor1 sidebar1 ."
    "note editor1 editor1 editor1 sidebar1 ."
    "note editor2 editor2 editor2 sidebar2 ."
    "note editor2 editor2 editor2 sidebar2 .";
}

.note { grid-area: note; }

.editor1 { grid-area: editor1; }

.editor2 { grid-area: editor2; }

.sidebar1 { grid-area: sidebar1; }

.sidebar2 { grid-area: sidebar2; }


.sidebar button {
	margin-top: 10px;
	width: 80%;
}
#editor {
	height: 200px;
	font-size: 15px;
}

#code {
	height: 200px;
	font-size: 15px;
}

@font-face { 
    font-family: 'xinwei'; 
    src: url('xinwei.ttf') format('truetype');
    font-stretch: condensed;
    font-style: oblique;
    font-weight: bold;
}

.hide {
	display: none;
}

.name {
    font-family: 'xinwei';

}

.heart {
	width: 24px;
	height: 24px;
	background: url(../res/official1.png);
	    background-repeat: no-repeat;
}

.round {
	border-radius: 20px;
}

.btns button {
	border-radius: 20px;
	margin-right: 10px;
}

#list-show img {
	width: 100%;
}
#nav-tabContent .tab-pane {
	padding: 10px;
}
#cover {
	text-align: center;
}
#cover img {
	width: 100%;
	max-width: 150px;
	height: 200px;
}

